@model ProgrammingLanguages.ProgrammingLanguageModels.ProgrammingLanguageFeature

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProgrammingLanguageFeature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class ="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeatureId" class="control-label"></label>
                <select asp-for="FeatureId" class ="form-control" asp-items="ViewBag.FeatureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pf1" class="control-label"></label>
                <input asp-for="Pf1" class="form-control" />
                <span asp-validation-for="Pf1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pf2" class="control-label"></label>
                <input asp-for="Pf2" class="form-control" />
                <span asp-validation-for="Pf2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pf3" class="control-label"></label>
                <input asp-for="Pf3" class="form-control" />
                <span asp-validation-for="Pf3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
